$medium: 440px;

header {
  color: white;
  font-family: sans-serif;
  text-align: center;
  h1 {
    font-size: 1.75rem;
  }
  p {
    padding-block: 1rem;
  }
  @media screen and (min-width: $medium) {
    h1 {
      font-size: 2.5rem;
    }
  }
}
